<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>@ViewBag.Title</title>
        <link href="~/lib/twitter-bootstrap/css/bootstrap.min.css" rel="stylesheet" />
        <script src="~/lib/twitter-bootstrap/js/bootstrap.min.js"></script>
    </head>
    <body>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4">
                    <div class="list-group">
                        <a asp-action="UpdateUser" asp-controller="Panel" class="list-group-item list-group-item-action">Bilgilerimi Güncelle</a>
                        <a asp-action="Index" asp-controller="Role" class="list-group-item list-group-item-action">Yetki İşlemleri</a>
                        <a asp-action="UserList" asp-controller="Role" class="list-group-item list-group-item-action">Kullanıcı İşlemleri</a>
                        <a asp-action="Index" asp-controller="Admin" class="list-group-item list-group-item-action">Admin</a>
                        <a asp-action="Index" asp-controller="Dev" class="list-group-item list-group-item-action">Developer</a>
                        <a asp-action="LogOut" asp-controller="Panel" class="list-group-item list-group-item-action">Çıkış Yap</a>
                    </div>
                </div>
                <div class="col-md-8">
                    @RenderBody()
                </div>
            </div>
        </div>
    </body>
</html>
